.conteinerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    gap: 5px;
    border-radius: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    width: 400px;
    height: 400px;
}
.title {
    margin: 0;
}
.text {
    margin: 0;
    text-align: center;
    width: 80%;
}